*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100%;
    width: 80%;
    margin-left: 10%;
}
a{
    text-decoration: none;
    width:fit-content ;
}
h1{
    margin-left: 20px;
}
header{
    background-image: url("../img/hockey-1.jpg");
    height: 350px;
    background-position: center;
    background-size: cover;
}
#navbar{
    display: flex;
    flex-direction: column;
    margin-top: 39%;
}
.links1, .links2{
    margin-bottom: 50px;
    margin-left: 30px;
    margin-bottom: 5%;
}
article{
    display: flex;
    flex-direction: column;
    margin-left: 16%;
    margin-top: 30px;
}
h2{
    width: 100%;
    background-color: black;
    height: 60px;
    color: white;
    margin-top: 10px;
    text-align:center;
    padding-top: 10px;
}

p{
    width: 77%;
    text-indent: 20px;
}
.img-logo{
    width: 60px;
    float:right;
    margin-right: 20%;
    margin-top: -6%;
}
.contact{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 30px;
}
.contact p{
    margin-bottom: 20px;
}