/* ======================== GLOBALES ======================== */

*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    min-height: 100%;
}
body{
    min-height: 100vh;
    /* background: linear-gradient(to right, #757f9a, #d7dde8); */
    background: radial-gradient(rgb(41, 38, 38),rgb(0, 0, 0));
    position: relative;
    padding-bottom: 70px;
}

/* ======================== HEADER ======================== */

#header{
    display: inline;
}
#title{
    text-align: center;
    text-shadow: 0px 5px 10px rgb(203, 152, 0);
    color: whitesmoke;
    height: 80px;
    padding-top: 10px;
}
#navbar{
    display: flex;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    justify-content:center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(120, 90, 0), rgb(203, 152, 0),rgb(239,184,16), rgb(203, 152, 0),rgb(120, 90, 0) );
    z-index: 1;
    height: 60px;
}
.links{
    border-radius: 20px;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    position: relative;
    transition: all .4s ease-in-out;
    height: min-content;
}
.links:hover {
    transform: scale(0.9);
    background:rgb(200, 153, 11);
    cursor: pointer;
}
.links-activo{
    background: rgb(200, 153, 11);
    border-radius: 20px;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    position: relative;
    transition: all .4s ease-in-out;
    height: min-content;
}
.menu , .menu-activo{
    text-decoration: none;
    color: black;
    margin: 0px 50px;
}

/* ======================== MAIN ======================== */
.encabezado{
    display: flex;
    flex-direction: column;
}
.subtitle{
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    margin: auto;
    color: white;
}

.img-logo{
    width: 10%;
    animation: float 5s linear infinite;
    justify-content: flex-start;
    display: flex;
    position: absolute;
    top: 30%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.article{
    padding: 20px 10px 20px 10px;
    margin-bottom: 20px;
    width: 70%;
    margin-left: 15%;
    /* background: rgb(234, 228, 228); */
    color: whitesmoke;
    transition: all .8s ease-in-out;
}
.article:hover{
    transform: scale(1.1);
    background-color: rgb(146, 141, 141);
    color: black;
    border-radius: 40px;
}
.article-title{
    width: 100%;
    text-align: center;
    height: 60px;
}
.article-text{
    text-align: center;
    line-height: 30px;
}
.contact{
    display:flex;
    margin: auto;
    flex-direction: column;
    border-radius: 40px;
    padding: 20px 20px;
    color: whitesmoke;
    transition: all .8s ease-in-out;
}
.contact:hover{
    background: whitesmoke;
    transform: scale(1.09);
    color: rgb(0, 0, 0);
}
.contact p{
    padding-bottom: 10px;
}
.contact a{
    color: blue;
}

/* ******************************* TABLE ************************************ */

.table-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
#table{
    background:whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 1px 10px -2px black;
    border: 1px solid black;
    width: 70%;
    padding: 10px;
}
.table-title{
    text-align: start;
    padding-bottom: 20px;
    color: whitesmoke;
}
.table-info{
    padding-bottom: 10px;
}
.items{
    padding: 5px;
    text-align: center;
}
tr:nth-child(even){
    background-color: rgb(203, 152, 0);
}
tr:nth-child(even):hover{
    background-color: rgb(245, 210, 105);
}
.additional-info{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 16%;
    margin-top: 40px;
    color: whitesmoke;
}
.facility{
    padding-bottom: 15px;
}
.coordinator-contact{
    color: whitesmoke;
    margin-top: 80px;
    display: flex;
    flex-flow: column wrap;
    align-content:flex-start;
    align-items: flex-start;
    margin-left: 16%;
    padding-bottom: 15px;
}
.phone-email{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 50px;
    color: whitesmoke;
}
.phone{
    margin-left: 16%;
    padding-right: 30%;
}

/* ******************************************** LIST ******************************************* */

.title-page, .sportsmanship, .list, .all-play{
    display: flex;
    flex-flow: column wrap;
    max-width: 60%;
    margin: auto;
    align-content: center;
    color: whitesmoke;
}
.title-page{
    padding-top: 0;
    padding-bottom: 20px;
    width: 100%;
}
.list{
    padding-top: 20px;
}
.sub-items > li{
    list-style-type: lower-alpha;
    font-weight: normal;
}
.list-items > li{
    font-weight: bold;
    padding-bottom: 20px;
    list-style-position: inside;
}
.list-items span{
    font-weight: 300;
}
.list-subtitle{
    padding-bottom: 20px;
}
.text{
    text-indent: 5%;
    font-weight: 300;
}
.text.txt-1{
    width:100%;
    
}
.list-all-play > li{
    margin-left: 10%;
    list-style-type: circle;
    padding-bottom: 20px;
    font-weight: 300;
    list-style-position: inside;
}
/* =================================== FOOTER=============================== */

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background:linear-gradient(to bottom, rgb(60, 59, 59),rgb(0, 0, 0), rgb(60, 59, 59));
    color: #d7dde8;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.dev-name{
    font-size: small;
    font-weight: 700;
}
/* ***************************** KEYFRAME******************************* */

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-30px);
	}
	100% {
		transform: translatey(0px);
	}
}


/* *********************************** MEDIA QUERY ************************ */

@media only screen and (max-width: 768px){

    /* ======================== HEADER ======================== */

    #title{
        margin-bottom: 10%;
    }
    #navbar{
        width: 100%;
        flex-wrap: wrap;
        height:min-content;
        /* height:min-content;
        box-shadow: 0px 5px 30px 1px black;
        width: 100%;
        display: block; */
    } 
    .links{
        display: flex;
        justify-content: center;
        width: 30%;
        border-radius: 5px;
        padding: 10px 0px 10px 0px;
        transition: none;
    }
    .menu{
        margin: 10px;
    }

    /* ======================== MAIN ======================== */

    .img-logo{
        width: 40%;
        align-content: center;
        float: none;
        margin-left: 30%;
        position: static;
    }
    .article{
        margin-top: 10px;
    }
    .contact{
        width:70%;
        margin-left: 15%;
    }
    .table-container{
        width: 50%;
        margin-left: 25%;
    }
    #table{
        padding:15px;
    }
    th{
        padding: 5px;
    }
    .additional-info, .coordinator-contact, .phone-email{
        width: 80%;
        margin-left: 10%;
        flex-direction: column;
        padding: 20px;
    }    
    .coordinator-contact, .phone-email{
        margin-top: 0;
    }
    .phone{
        margin-left: 0;
    }
    .email{
        display: flex;
        width: 40%;
        flex-wrap: wrap;
    }
}
@media(max-width: 320px){ 
    main{
        font-size: 11px;
    }
}